/*
   This document has been created with Marked.app <http://markedapp.com>, Copyright 2011 Brett Terpstra
   Please leave this notice in place, along with any additional credits below.
   ---------------------------------------------------------------
   Title: Theme title
   Author: Your name and optional url
   Description: Basic description of the theme.
*/
body {
    -webkit-font-smoothing: antialiased;
    font: normal .8764em/1.5em sans-serif;
    margin: 0;
}

html>body {
    font-size: 18px;
}

body {
  background-color: white;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
  max-width: 920px;
  padding: 0 0 50px 0;
  margin: auto;
  margin-top: 0px;
}

p {margin-bottom: 1.25em;}

h1, h2, h3, h4, h5, h6 {
  margin: 2.75rem 0 1rem;
  font-weight: bold;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 1.802em;
}

h2 {font-size: 1.602em;}

h3 {font-size: 1.424em;}

h4 {font-size: 1.266em;}

h5 {font-size: 1.125em;}

small, .text_small {font-size: 0.889em;}

ul {
    font-size: 1.1429em;
}

ul li, ol li, li li, ul li ul {
    font-size: 100%;
    line-height: 1.6125em;
}

li p {
    font-size: 100%;
    margin: .5em 0;
}


body,p,td,div {
    color: #333;
    word-wrap: break-word;
}


a, a:visited {
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
    text-decoration-line: none;
    color: #ef5b43;
}

a:hover {
    color: #fca700;
}

.footnote {
    color: #0d6ea1;
    font-size: .8em;
    vertical-align: super;
}

#wrapper img {
    max-width: 100%;
    height: auto;
}

dd {
    margin-bottom: 1em;
}

li > p:first-child {
    margin: 0;
}

ul ul,ul ol {
    margin-bottom: .4em;
}

caption,col,colgroup,table,tbody,td,tfoot,th,thead,tr {
    border-spacing: 0;
}


table {
  border-collapse: collapse;
}

td, th {
  border: none;
}

table {
    border: 1px solid rgba(0,0,0,0.1);
    border-collapse: separate;
    /* border-spacing: 0; */
    display: table;
    empty-cells: hide;
    margin: -1px 0 23px;
    padding: 0;
    table-layout: fixed;
}

caption {
    display: table-caption;
    font-weight: 700;
}

col {
    display: table-column;
}

colgroup {
    display: table-column-group;
}

tbody {
    display: table-row-group;
}

tfoot {
    display: table-footer-group;
}

thead {
    display: table-header-group;
}

td,th {
    display: table-cell;
}

tr {
    display: table-row;
}

table th,table td {
    font-size: 1em;
    line-height: 23px;
    padding: 0.5em 1em;
}

table thead {
    /* background: rgba(0,0,0,0.15); */
    /* border: 1px solid rgba(0,0,0,0.15); */
    /* border-bottom: 1px solid rgba(0,0,0,0.2); */
}

table tbody {
    background: rgba(0,0,0,0.01);
}

table tfoot {
    background: rgba(0,0,0,0.15);
    /* border: 1px solid rgba(0,0,0,0.15); */
    /* border-top: 1px solid rgba(0,0,0,0.2); */
}

figure {
    display: inline-block;
    position: relative;
    margin: 1em 0 2em;
}

figcaption {
    font-style: italic;
    text-align: center;
    background: white;
    color: #666;
    position: absolute;
    left: 0;
    bottom: -24px;
    width: 98%;
    padding: 1%;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

figure:hover>figcaption {
    /* background: rgba(0,0,0,1) */
}

.poetry pre {
    display: block;
    font-family: Georgia, Garamond, serif !important;
    font-size: 110% !important;
    font-style: italic;
    line-height: 1.6em;
    margin-left: 1em;
}

.poetry pre code {
    font-family: Georgia, Garamond, serif !important;
}

blockquote p {
    font-size: 110%;
    font-style: italic;
    line-height: 1.6em;
}

sup,sub,a.footnote {
    font-size: 1.4ex;
    height: 0;
    line-height: 1;
    position: relative;
    vertical-align: super;
}

sub {
    vertical-align: sub;
    top: -1px;
}

p,h5 {
    font-size: 1.1429em;
    line-height: 1.6125em;
    margin: 1.3125em 0;
}

dt,th {
    font-weight: 700;
}

table tr:nth-child(odd),table th:nth-child(odd) {
    background: rgba(255,255,255,0.06);
    border: none;
}

table tr:nth-child(even) {
    background: rgba(200,200,200,0.10);
}

@media print {
    body {
        overflow: auto;
    }

    img,pre,blockquote,table,figure,p {
        page-break-inside: avoid;
    }

    #wrapper {
        background: #fff;
        color: #303030;
        /* font-size: 85%; */
        padding: 10px;
        position: relative;
        text-indent: 0;
    }
}

@media screen {
    .inverted #wrapper,.inverted {
        background: rgba(37, 42, 42, 1);
    }

    .inverted hr {
        border-color: rgba(51, 63, 64, 1) !important;
    }

    .inverted p,.inverted td,.inverted li,.inverted h1,.inverted h2,.inverted h3,.inverted h4,.inverted h5,.inverted h6,.inverted pre,.inverted code,.inverted th,.inverted .math,.inverted caption,.inverted dd,.inverted dt {
        color: #eee !important;
    }

    .inverted table tr:nth-child(odd),.inverted table th:nth-child(odd),.inverted table td:nth-child(odd) {
        background: #000;
    }

    .inverted a {
        color: rgba(172, 209, 213, 1);
    }

    #wrapper {
        padding: 20px;
    }

    ::selection {
        background: rgba(157, 193, 200,.5);
    }

    h1::selection {
        background-color: rgba(45, 156, 208, .3);
    }

    h2::selection {
        background-color: rgba(90, 182, 224, .3);
    }

    h3::selection,h4::selection,h5::selection,h6::selection,li::selection,ol::selection {
        background-color: rgba(133, 201, 232, .3);
    }

    code::selection {
        background-color: rgba(0,0,0,.7);
        color: #eee;
    }

    code span::selection {
        background-color: rgba(0,0,0,.7) !important;
        color: #eee !important;
    }

    a::selection {
        background-color: rgba(255, 230, 102,.2);
    }

    .inverted a::selection {
        background-color: rgba(255, 230, 102,.6);
    }

    td::selection,th::selection,caption::selection {
        background-color: rgba(180, 237, 95, .5);
    }
}


.topnav {
  overflow: hidden;
  background-color: #fff;
  margin-bottom: 40px;
}

.topnav a {
  float: left;
  display: block;
  color: #ddd;
  text-align: center;
  padding: 14px 16px 14px 0;
  text-decoration: none;
  font-size: 1.1429em;
  border: none;
  background-color: white;
}

.topnav a:hover {
    color: #ef5b43;
    background-color: white;
}

.topnav a.active {
  background-color:  #fff;
  color: #333;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 800px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
    color: #ef5b43;
  }
}

@media screen and (max-width: 800px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
